@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e3e5f3;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #9594bb;
    float: left;
    font-size:xx-large;
}

.nav{
    width: 280px;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
	
}

.nav__link--inside:hover{
    background:#F6F8FA;
}

.list{
    width: 100%;
    height:950px;
    display: flex;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.user{
    background-color: lightcyan;
    width:  300px;
    height: 150px;
    
}
.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color:  blanchedalmond;
}

.main{
    width: 1011px;
    height: 950px;
    background: skyblue;
    position: absolute;
    top: 80px; 
    left: 250px;
}
